
h1{font-family: Arial, Helvetica, sans-serif;text-align: center;}
h2{font-family: 'Times New Roman', Times, serif;}
body{background-color: tan;}
.bem-vindo{color: rgb(90, 29, 7);}
.Proatividade{font-size: 15px;}
.Lideranca{font-size: 15px;}
.Trabalho{font-size: 15px;}
.Resiliencia{font-size: 15px;}
.Capacidade{font-size: 15px;}
